In [1]:
import pandas as pd

In [3]:
raw_dat = pd.read_csv("../data dump/Capital Expenses_2022.csv")

In [4]:
raw_dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1859 entries, 0 to 1858
Data columns (total 38 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Agency                                            1859 non-null   object
 1   City                                              1845 non-null   object
 2   State                                             1859 non-null   object
 3   NTD ID                                            1859 non-null   int64
 4   Organization Type                                 1859 non-null   object
 5   Reporter Type                                     1859 non-null   object
 6   Report Year                                       1859 non-null   int64
 7   UACE Code                                         1270 non-null   float64
 8   UZA Name                                          1272 non-null   object
 9   Primary UZA Population                            1270 non-null   object
 10  Agency VOMS                                       1859 non-null   object
 11  Mode                                              1859 non-null   object
 12  Mode Name                                         1859 non-null   object
 13  TOS                                               1859 non-null   object
 14  Mode VOMS                                         1841 non-null   object
 15  Capital Use Type                                  1859 non-null   object
 16  Guideway                                          1859 non-null   object
 17  Guideway Questionable                             0 non-null      float64
 18  Stations                                          1859 non-null   object
 19  Stations Questionable                             0 non-null      float64
 20  Administrative Buildings                          1859 non-null   object
 21  Administrative Buildings Questionable             0 non-null      float64
 22  Maintenance Buildings                             1859 non-null   object
 23  Maintenance Buildings Questionable                0 non-null      float64
 24  Passenger Vehicles                                1859 non-null   object
 25  Passenger Vehicles Questionable                   0 non-null      float64
 26  Other Vehicles                                    1859 non-null   object
 27  Other Vehicles Questionable                       0 non-null      float64
 28  Fare Collection Equipment                         1859 non-null   object
 29  Fare Collection Equipment Questionable            0 non-null      float64
 30  Communication & Information Systems               1859 non-null   object
 31  Communication & Information Systems Questionable  0 non-null      float64
 32  Other                                             1859 non-null   object
 33  Other Questionable                                0 non-null      float64
 34  Reduced Reporter Expenses                         1859 non-null   object
 35  Reduced Reporter Questionable                     0 non-null      float64
 36  Total                                             1859 non-null   object
 37  Total Questionable                                0 non-null      float64
dtypes: float64(12), int64(2), object(24)
memory usage: 552.0+ KB

In [25]:
# Remove all "Questionable" columns from the dataset.
dat = raw_dat.drop(columns=raw_dat.columns[["Questionable" in name for name in raw_dat.columns]])
# Remove the "reporter" suffix from the entries in reporter type.
dat['Reporter Type'] = [words[0] for words in (item.split() for item in raw_dat['Reporter Type'])]
# Remove the "Org Type" column from the dataset.
dat = dat.drop(columns=["Organization Type"])
# Remove the "Reduced Reporter Expenses Column" as it is a duplicate.
dat = dat.drop(columns=["Reduced Reporter Expenses"])
# Change datatypes on dollar and population columns to numeric.
def to_num(col_name:str, dat_frame:pd.DataFrame) -> list:
    return [num.replace(',', '') if type(num) == str else num for num in dat_frame[col_name]]

for col in dat.columns[15:]:
    dat[col] = to_num(col, dat)
    dat = dat.astype({col: 'float64'})

dat["Primary UZA Population"] = to_num("Primary UZA Population", dat)
dat = dat.astype({"Primary UZA Population": 'float64'})

In [26]:
# Is there a place where these column names are explained fully?
# Yes. https://data.transportation.gov/Public-Transit/2022-NTD-Annual-Data-Capital-Expenses-by-Capital-U/fphd-jyyj/about_data
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1859 entries, 0 to 1858
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Agency                               1859 non-null   object
 1   City                                 1845 non-null   object
 2   State                                1859 non-null   object
 3   NTD ID                               1859 non-null   int64
 4   Reporter Type                        1859 non-null   object
 5   Report Year                          1859 non-null   int64
 6   UACE Code                            1270 non-null   float64
 7   UZA Name                             1272 non-null   object
 8   Primary UZA Population               1270 non-null   float64
 9   Agency VOMS                          1859 non-null   object
 10  Mode                                 1859 non-null   object
 11  Mode Name                            1859 non-null   object
 12  TOS                                  1859 non-null   object
 13  Mode VOMS                            1841 non-null   object
 14  Capital Use Type                     1859 non-null   object
 15  Guideway                             1859 non-null   float64
 16  Stations                             1859 non-null   float64
 17  Administrative Buildings             1859 non-null   float64
 18  Maintenance Buildings                1859 non-null   float64
 19  Passenger Vehicles                   1859 non-null   float64
 20  Other Vehicles                       1859 non-null   float64
 21  Fare Collection Equipment            1859 non-null   float64
 22  Communication & Information Systems  1859 non-null   float64
 23  Other                                1859 non-null   float64
 24  Total                                1859 non-null   float64
dtypes: float64(12), int64(2), object(11)
memory usage: 363.2+ KB