In [50]:
import pandas as pd
from collections import Counter
import numpy as np

In [13]:
raw_UPT = pd.read_excel('../data dump/Sep 2024 Complete Monthly Ridership (with adjustments and estimates).xlsx',
                        sheet_name='Calendar Year UPT')
raw_VRM = pd.read_excel('../data dump/Sep 2024 Complete Monthly Ridership (with adjustments and estimates).xlsx',
                        sheet_name='Calendar Year VRM')

Start with the UPT sheet.

In [14]:
raw_UPT.drop(columns=['Legacy NTD ID', 'UACE CD', 'UZA Name', 'TOS'], inplace=True)
raw_UPT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306 entries, 0 to 2305
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   NTD ID                       2300 non-null   float64
 1   Agency                       2300 non-null   object
 2   Mode/Type of Service Status  2300 non-null   object
 3   Reporter Type                2300 non-null   object
 4   Mode                         2300 non-null   object
 5   3 Mode                       2300 non-null   object
 6   2002                         1007 non-null   float64
 7   2003                         1063 non-null   float64
 8   2004                         1036 non-null   float64
 9   2005                         1092 non-null   float64
 10  2006                         1189 non-null   float64
 11  2007                         1260 non-null   float64
 12  2008                         1273 non-null   float64
 13  2009                         1308 non-null   float64
 14  2010                         1338 non-null   float64
 15  2011                         1423 non-null   float64
 16  2012                         1392 non-null   float64
 17  2013                         1365 non-null   float64
 18  2014                         1334 non-null   float64
 19  2015                         1359 non-null   float64
 20  2016                         1354 non-null   float64
 21  2017                         1349 non-null   float64
 22  2018                         1350 non-null   float64
 23  2019                         1328 non-null   float64
 24  2020                         1338 non-null   float64
 25  2021                         1344 non-null   float64
 26  2022                         1337 non-null   float64
 27  2023                         1340 non-null   float64
 28  2024                         1330 non-null   float64
dtypes: float64(24), object(5)
memory usage: 522.6+ KB

In [17]:
raw_UPT = raw_UPT.dropna(axis=0, how='all', subset=raw_UPT.columns[20:27])
red_UPT = raw_UPT.melt(id_vars=raw_UPT.columns[0:6], var_name='Year', value_name='UPT')
red_UPT = red_UPT[(2016 <= red_UPT['Year']) & (red_UPT['Year'] <= 2022)]
red_UPT.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11046 entries, 22092 to 33137
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   NTD ID                       11011 non-null  float64
 1   Agency                       11011 non-null  object
 2   Mode/Type of Service Status  11011 non-null  object
 3   Reporter Type                11011 non-null  object
 4   Mode                         11011 non-null  object
 5   3 Mode                       11011 non-null  object
 6   Year                         11046 non-null  object
 7   UPT                          9400 non-null   float64
dtypes: float64(2), object(6)
memory usage: 776.7+ KB

In [19]:
clean_UPT = red_UPT.drop(columns=['Mode/Type of Service Status'])
clean_UPT['Reporter Type'] = [words[0] for words in (str(item).split() for item in clean_UPT['Reporter Type'])]
clean_UPT.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11046 entries, 22092 to 33137
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NTD ID         11011 non-null  float64
 1   Agency         11011 non-null  object
 2   Reporter Type  11046 non-null  object
 3   Mode           11011 non-null  object
 4   3 Mode         11011 non-null  object
 5   Year           11046 non-null  object
 6   UPT            9400 non-null   float64
dtypes: float64(2), object(5)
memory usage: 690.4+ KB

In [20]:
grp_UPT = clean_UPT.groupby(['NTD ID', 'Mode', 'Year'])

In [51]:
def most_common(lst):
    data = Counter(lst)
    return data.most_common(1)[0][0]

clean_UPT = grp_UPT.agg({'Agency': most_common, 'Reporter Type': most_common, '3 Mode': most_common, 
                    'UPT':"sum"}).reset_index()
clean_UPT['UPT'] = clean_UPT['UPT'].replace(0.0, np.nan)
clean_UPT['NTD ID'] = clean_UPT['NTD ID'].astype(dtype='int64')
clean_UPT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8974 entries, 0 to 8973
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NTD ID         8974 non-null   int64
 1   Mode           8974 non-null   object
 2   Year           8974 non-null   int64
 3   Agency         8974 non-null   object
 4   Reporter Type  8974 non-null   object
 5   3 Mode         8974 non-null   object
 6   UPT            8126 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 490.9+ KB

Same idea with the VRM sheet.

In [52]:
raw_VRM.drop(columns=['Legacy NTD ID', 'UACE CD', 'UZA Name', 'TOS'], inplace=True)
raw_VRM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306 entries, 0 to 2305
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   NTD ID                       2300 non-null   float64
 1   Agency                       2300 non-null   object
 2   Mode/Type of Service Status  2300 non-null   object
 3   Reporter Type                2300 non-null   object
 4   Mode                         2300 non-null   object
 5   3 Mode                       2300 non-null   object
 6   2002                         930 non-null    float64
 7   2003                         992 non-null    float64
 8   2004                         995 non-null    float64
 9   2005                         1066 non-null   float64
 10  2006                         1175 non-null   float64
 11  2007                         1258 non-null   float64
 12  2008                         1273 non-null   float64
 13  2009                         1306 non-null   float64
 14  2010                         1338 non-null   float64
 15  2011                         1423 non-null   float64
 16  2012                         1387 non-null   float64
 17  2013                         1365 non-null   float64
 18  2014                         1333 non-null   float64
 19  2015                         1359 non-null   float64
 20  2016                         1354 non-null   float64
 21  2017                         1349 non-null   float64
 22  2018                         1350 non-null   float64
 23  2019                         1328 non-null   float64
 24  2020                         1337 non-null   float64
 25  2021                         1344 non-null   float64
 26  2022                         1337 non-null   float64
 27  2023                         1333 non-null   float64
 28  2024                         1323 non-null   float64
dtypes: float64(24), object(5)
memory usage: 522.6+ KB

In [54]:
raw_VRM = raw_VRM.dropna(axis=0, how='all', subset=raw_VRM.columns[20:27])
red_VRM = raw_VRM.melt(id_vars=raw_VRM.columns[0:6], var_name='Year', value_name='VRM')
red_VRM = red_VRM[(2016 <= red_VRM['Year']) & (red_VRM['Year'] <= 2022)]
red_VRM.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11046 entries, 22092 to 33137
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   NTD ID                       11011 non-null  float64
 1   Agency                       11011 non-null  object
 2   Mode/Type of Service Status  11011 non-null  object
 3   Reporter Type                11011 non-null  object
 4   Mode                         11011 non-null  object
 5   3 Mode                       11011 non-null  object
 6   Year                         11046 non-null  object
 7   VRM                          9399 non-null   float64
dtypes: float64(2), object(6)
memory usage: 776.7+ KB

In [55]:
red_VRM.drop(columns=['Mode/Type of Service Status'], inplace=True)
red_VRM['Reporter Type'] = [words[0] for words in (str(item).split() for item in red_VRM['Reporter Type'])]
red_VRM.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11046 entries, 22092 to 33137
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NTD ID         11011 non-null  float64
 1   Agency         11011 non-null  object
 2   Reporter Type  11046 non-null  object
 3   Mode           11011 non-null  object
 4   3 Mode         11011 non-null  object
 5   Year           11046 non-null  object
 6   VRM            9399 non-null   float64
dtypes: float64(2), object(5)
memory usage: 690.4+ KB

In [56]:
grp_VRM = red_VRM.groupby(['NTD ID', 'Mode', 'Year'])

In [61]:
clean_VRM = grp_VRM['VRM'].sum().reset_index()
clean_VRM['NTD ID'] = clean_VRM['NTD ID'].astype(dtype='int64')
clean_VRM['VRM'] = clean_VRM['VRM'].replace(0.0, np.nan)
clean_VRM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8974 entries, 0 to 8973
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NTD ID  8974 non-null   int64
 1   Mode    8974 non-null   object
 2   Year    8974 non-null   int64
 3   VRM     8128 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 280.6+ KB

Merge thet two data sheets.

In [62]:
rider_data = clean_UPT.merge(clean_VRM, on=['NTD ID', 'Mode', 'Year'])
rider_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8974 entries, 0 to 8973
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NTD ID         8974 non-null   int64
 1   Mode           8974 non-null   object
 2   Year           8974 non-null   int64
 3   Agency         8974 non-null   object
 4   Reporter Type  8974 non-null   object
 5   3 Mode         8974 non-null   object
 6   UPT            8126 non-null   float64
 7   VRM            8128 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 561.0+ KB

In [63]:
rider_data.to_csv('../data/NTD_Annual_Ridership.csv', index=False)